.editor {
  position: relative;
  max-width: 30rem;
  margin: 0 auto 5rem auto;

  &__content {
    pre {
      padding: 0.7rem 1rem;
      border-radius: 5px;
      background: $color-black;
      color: $color-white;
      font-size: 0.8rem;
      overflow-x: auto;

      code {
        display: block;
      }
    }

    p code {
      display: inline-block;
      padding: 0 0.4rem;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: bold;
      background: rgba($color-black, 0.1);
      color: rgba($color-black, 0.8);
    }

    ul,
    ol {
      padding-left: 1rem;
    }

    ul[data-type="todo_list"] {
      padding-left: 0;
    }
    li[data-type="todo_item"] {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .todo-checkbox {
      border: 2px solid $color-black;
      height: 0.9em;
      width: 0.9em;
      box-sizing: border-box;
      margin-right: 10px;
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
      border-radius: 0.2em;
      background-color: transparent;
      transition: 0.4s background;
    }
    .todo-content {
      flex: 1;
    }
    .todo-end-date {
      white-space: nowrap;
      padding: 4px;
      border: none;
    }
    li[data-done="true"] .todo-content {
      text-decoration: line-through;
    }
    li[data-done="true"] .todo-checkbox {
      background-color: $color-black;
    }
    li[data-done="false"] {
      text-decoration: none;
    }

    a {
      color: inherit;
    }

    blockquote {
      border-left: 3px solid rgba($color-black, 0.1);
      color: rgba($color-black, 0.8);
      padding-left: 0.8rem;
      font-style: italic;

      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
      border-radius: 3px;
    }

  }
}